@media (max-width: 767.98px) {
  :root {
    --primary_background_color: #1c1e53;
    --secondary_background_color: #f4f6fc;
    --white_color: #ffffff;
    --gray_color: #bbbbcb;
    --primary_font_color: #282938;
    --secondary_font_color: #bbbbcb;
    --yellow_color: #fcd980;
    --transition: all 0.4s linear;
    --poppins: "Poppins", sans-serif;
  }
  .howWeDo__keyBtn {
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .contactBtn__title {
    font-size: 36px;
    line-height: 60px;
  }
  .footerTop {
    padding-top: 79px;
    padding-bottom: 20px;
  }
  .footerRight__title {
    font-size: 40px;
    line-height: 30px;
  }
  .footerLeft__contact {
    padding: 26px 16px;
  }
  .contact__info {
    font-size: 13px;
  }
  .contact__title {
    font-size: 16px;
    font-weight: 500;
  }
  .footerRight__summary {
    font-size: 14px;
    line-height: 24px;
  }
  .customFooter-sticky {
    padding: 13px 0;
  }
}
