@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* ======== COMMON CSS START ======== */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
}

ul,
ol,
li {
  list-style: none;
}

a,
span {
  display: inline-block;
  text-decoration: none;
}

img {
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6,
section,
div,
img,
p,
svg {
  padding: 0;
  margin: 0;
}

:root {
  --primary_background_color: #1c1e53;
  --secondary_background_color: #f4f6fc;
  --white_color: #ffffff;
  --gray_color: #bbbbcb;
  --primary_font_color: #282938;
  --secondary_font_color: #bbbbcb;
  --yellow_color: #fcd980;
  --transition: all 0.4s linear;
  --poppins: "Poppins", sans-serif;
}

body {
  font-family: var(--poppins);
}

/* ======== COMMON CSS END ======== */
/* =======navbar css======= */
.nav-link {
  margin: 0 !important;
  padding: 0 !important;
}
.customNavbar {
  background-color: var(--primary_background_color);
}
.custom-navbarNav {
  gap: 32px;
}
.customNavLink {
  color: var(--secondary_font_color);
  font-size: 16px;
  line-height: 28px;
  font-weight: 500;
  transition: all 0.5s linear;
  position: relative;
}
.customNavLink::after {
  position: absolute;
  content: "";
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: var(--yellow_color);
  transition: var(--transition);
}
.customNavLink:hover::after {
  width: 100%;
}
.customNavLink:hover {
  color: white;
}
.customBtn {
  color: white;
  border: 2px solid #f4f6fc50;
  background-color: transparent;
  font-weight: 500;
  border-radius: 41px;
  padding: 16px 48px;
  margin-left: 16px;
  transition: var(--transition);
  cursor: pointer;
  position: relative;
  z-index: 1;
}
.customBtn::after {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 100%;
  width: 0;
  border-radius: 41px;
  background-color: var(--yellow_color);
  opacity: 0;
  transition: all linear 0.5s;
  z-index: -1;
}
.customBtn:hover:after {
  opacity: 0.7;
  height: 100%;
  width: 100%;
}
.customBtn::before {
  position: absolute;
  content: "";
  right: 0;
  top: 50%;
  transform: translate(50%, -50%);
  height: 100%;
  width: 0;
  border-radius: 41px;
  background-color: var(--yellow_color);
  opacity: 0;
  z-index: -1;
  transition: all linear 0.5s;
}
.customBtn:hover:before {
  opacity: 0.7;
  height: 100%;
  width: 100%;
  right: 50%;
  transform: translate(50%, -50%);
}
.customBtn:hover {
  color: var(--primary_font_color);
  border: 2px solid transparent;
}
/* =======navbar css======= */

/* =======privacy policy css======= */
#privacyPolicy__Part {
  margin: 128px 0;
}
.privacyPolicy__heading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.privacyPolicy__title {
  font-size: 48px;
  line-height: 64px;
  font-weight: 600;
  color: var(--primary_font_color);
}
.privacyPolicy__summary {
  font-size: 16px;
  line-height: 28px;
  color: var(--primary_font_color);
  opacity: 0.7;
  max-width: 562px;
  margin-top: 16px;
  margin-bottom: 64px;
}
.privacyPolicy__subTitle {
  font-size: 38px;
  line-height: 56px;
  font-weight: 600;
  color: var(--primary_font_color);
  margin-bottom: 32px;
}
.privacyPolicy__details {
  font-size: 16px;
  line-height: 28px;
  color: var(--primary_font_color);
  opacity: 0.7;
  /* margin-bottom: 24px; */
}
.privacyPolicy__point {
  display: flex;
  align-items: center;
  column-gap: 7px;
}
.privacyPolicy__point i {
  font-size: 5px;
  color: var(--primary_font_color);
}
/* =======privacy policy css======= */

/* ====================footer css========== */
.footerTop {
  background-color: var(--primary_background_color);
  padding-top: 100px;
  height: 479px;
}
.footerLeft__summary {
  font-size: 16px;
  line-height: 28px;
  font-weight: 500;
  color: white;
  opacity: 0.8;
  margin-top: 22px;
}
.footerLeft__contact {
  background-color: var(--yellow_color);
  padding: 17px 37px;
  margin-top: 86px;
}
.contact__info {
  font-size: 16px;
  line-height: 28px;
  color: var(--primary_font_color);
  opacity: 0.8;
}
.contact__title {
  font-size: 18px;
  line-height: 32px;
  font-weight: 500;
  color: var(--primary_font_color);
  opacity: 0.8;
}
.footerRight__title {
  font-size: 48px;
  line-height: 64px;
  font-weight: 600;
  color: white;
}
.footerRight__summary {
  margin-top: 14px;
  font-size: 16px;
  line-height: 28px;
  color: white;
  opacity: 0.8;
}
.footerRight__icon {
  margin-top: 28px;
  display: flex;
  gap: 26px;
}
.icon__item {
  color: white;
}
#footerBottom {
  background-color: white;
}
.customFooter-navbarNav {
  gap: 32px;
}
.copyright {
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  color: var(--primary_font_color);
}
.customFooter-sticky {
  background-color: white;
  border-top: 1px solid #28293842;
  padding: 32px 0;
}
.footerMenu {
  display: flex;
  column-gap: 32px;
  align-items: center;
}
.customFooter-NavLink {
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  color: var(--primary_font_color);
}
/* ====================footer css========== */
