:root {
    --primary_background_color: #1c1e53;
    --white_color: #ffffff;
    --gray_color: #bbbbcb;
    --primary_font_color: #282938;
    --yellow_color: #fcd980;
  
    --poppins: "Poppins", sans-serif;
  }
  