@media (max-width: 575.98px) {

:root {
  --primary_background_color: #1c1e53;
  --white_color: #ffffff;
  --gray_color: #EEF4FA;
  --primary_font_color: #282938;
  --yellow_color: #fcd980;

  --poppins: "Poppins", sans-serif;
}

.navbar-toggler:focus {
  box-shadow: none;
  border: 1px white dashed;
  }

.customnavitem {
  margin-left: 0px;
  
  }

.custombtn {
  padding: 10px 20px;
  margin-left: 0px;
  margin-top: 10px;
}

#bannerPart {
  padding: 30px 0 25px;
}

.banner__heading {
  font-size: 17px;
  line-height: 25px;
}

  .banner__heading {
      font-size: 17px;
      line-height: 25px;
  }

  .banner__summary {
      font-size: 13px;
      line-height: 10px;
      margin-bottom: 15px;
  }

  .lorem__heading {
      font-size: 15px;
      line-height: 17px;
      margin-bottom: 5px;
  }

  .lorem__summary {
      font-size: 13px;
      line-height: 23px;
  }

  #lorem {
      padding: 0 0 20px;
  }

  .lorem__text {
      font-size: 9px;
      line-height: 16px;
  }

  #nostrud {
      padding: 0 0 40px;
  }

  #veniam {
      padding: 0 0 20px;
  }

  footer {
      padding: 50px 0 0;
  }

  .icon {
      margin-top: 0px;
  }

  footer {
      padding: 25px 0 0;
  }

  .fotter__sumary {
      font-size: 14px;
      line-height: 24px;
      margin-top: 10px;
  }

  .foter__botom {
      margin-top: 20px;
  }

  .foter__botom {
      margin-top: 40px;
  }

  .foterRight {
      font-size: 25px;
  }

  .footer__right{
      display: flex;
      align-items: center;
      justify-content: space-between;
  }

  .icon i {
      margin-left: 26px;
      margin-right: 0;
  }

  .customnavitam {
      font-size: 16px;
      line-height: 20px;
  }

  .custom {
      font-size: 15px;
      line-height: 20px;
  }

}